table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }
  #content{
	margin-top:30px;
	border-radius: 2px;
	background: white;
	box-shadow: 0px 2px 5px #ccc;
	padding: 0px;
	overflow: hidden;
}
#mitad-derecha{
	float: right;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}
#mitad-derecha{
	text-align: center;
}
#precio{
	font-size: 50px;
	margin-right: 20px;
}
#mitad-izquierda{
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}
#mitad-izquierda div {
    display:block;
	margin: 0 auto;
	width: 70%;
}
.imagen{
	width: 100%;
}
.imagenes{
    display:inline-block;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 50px; 
	width: 19%;
	border: grey 1px solid;
}
#user-icon {
    float: left;
}
#estrellas {
	margin-top: -30px;
	float: right;
}
#estrellas-edit {
	margin-top: 10px;
	float: right;
}
#comentario{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
	padding: 2px;
	resize: none;
	width: 70%;
}
#comentar{
	margin-top: 50px;
	float: right;
	width: 100px;
	height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right:-100px
}
#comment {
	height: 40px;
	padding-bottom: 20px;
	text-align: initial;
	margin-left: 70px;
}
#estrella {
	width: 20px;
	display: inline-block;
}
#estrellas1 {
	margin-top: 20px;
	float: right;
}
#estrella1 {
	width: 30px;
	display: inline-block;
}
#header{
	background: #009933;
  color: white;
  text-align: center;
  margin-top:-20px;
  margin-right:-8px;
  margin-left:-8px;
	height: 90px;
	line-height: 90px;
}
#centrar{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}
#form{
	margin-left: auto;
    margin-right: auto;
	width: 8em;
	text-align: center;
	width: max-content;
	padding: 20px;
}
#producto{
	margin-left: auto;
    margin-right: auto;
	width: 8em;
	text-align: center;
	width: max-content;
	padding: 20px;
	float: left;
}
#producto a{
	text-decoration: none;
	text-decoration-color: black;
	font-weight: bold;
}

#error{
	height: 10px;
}
#header h1{
	display: block;
	line-height: 80px;
	font-weight: bold;
	font-size: 30px;
}
#nav input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 2%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#nav{
	padding: 0px;
  margin: 0px;
  margin-left: -20px;
  margin-right: -8px;
  padding-top: 15px;
  background: #00b33c;
  padding-bottom: 15px;
}
#color{
  background: #00b33c;
  
}
#buscar{
	width: 41px;
	height: 41px;
	margin-left: -7px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#nav ul{
	margin: 0px;
	list-style: none;
  padding-left: 20px;
  background: #00b33c;
}

#nav ul li{
	float:left;
  margin-right: 20px;
  margin-top: 13px;
}
#nav a{
	margin-right: 20px;
	margin-top: 13px;
	float: right;
	display: block;
	color: black;
	height: 30px;
	line-height: 29px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 500ms;
}

#nav a:hover{
	text-decoration: none;
	background: white;
}

.activado{
	text-decoration: none !important;
	border-bottom:4px solid yellow !important;
}

#main .jumbotron{
	padding: 50px;
	margin-top: 30px;
	border-radius: 5px;
}

#footer{
	margin-top:30px;
	padding-top: 10px;
	border-top:1px solid #eee;
	color: gray;
}

#form-producto label{
	margin-top: 10px;
}

.imagen_container{
	width: 100%;
	overflow: hidden;
}

.producto_imagen{
	/*width: 100%;*/
	height: 200px;
	margin: 0px auto;
	display: block;
}

.imagen_relleno{
	background: #ccc;
	width: 100%;
	height: 200px;
}